::-webkit-input-placeholder {
  color: #A2508A;
  font-size: 14px;
  font-family: 'Geometria Regular', 'Arial', sans-serif; }

::-moz-placeholder {
  color: #A2508A;
  font-size: 14px;
  font-family: 'Geometria Regular', 'Arial', sans-serif; }

::-moz-placeholder {
  color: #A2508A;
  font-size: 14px;
  font-family: 'Geometria Regular', 'Arial', sans-serif; }

::-ms-input-placeholder {
  color: #A2508A;
  font-size: 14px;
  font-family: 'Geometria Regular', 'Arial', sans-serif; }

header {
  background: #313131; }
  header .container {
    padding: 15px; }
    @media screen and (min-width: 768px) {
      header .container {
        padding: 25px 15px; } }
  header .fl {
    justify-content: space-between;
    align-items: center; }

.toggle-menu {
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: #fff; }
  .toggle-menu:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 2;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .toggle-menu__line {
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background: #A2508A;
    z-index: 1; }
    .toggle-menu__line:first-child {
      top: 0;
      left: 0;
      -moz-transition: transform 0.3s, top 0.3s;
      -o-transition: transform 0.3s, top 0.3s;
      -webkit-transition: transform 0.3s, top 0.3s;
      transition: transform 0.3s, top 0.3s; }
    .toggle-menu__line:nth-child(2) {
      top: 50%;
      right: 0;
      opacity: 1;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -moz-transition: right 0.3s, opacity 0.3s;
      -o-transition: right 0.3s, opacity 0.3s;
      -webkit-transition: right 0.3s, opacity 0.3s;
      transition: right 0.3s, opacity 0.3s; }
    .toggle-menu__line:last-child {
      bottom: 0;
      left: 0;
      -moz-transition: transform 0.3s, bottom 0.3s;
      -o-transition: transform 0.3s, bottom 0.3s;
      -webkit-transition: transform 0.3s, bottom 0.3s;
      transition: transform 0.3s, bottom 0.3s; }
  .toggle-menu__active:after {
    content: ''; }
  .toggle-menu__active .toggle-menu__line:first-child {
    top: 50%;
    -moz-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg); }
  .toggle-menu__active .toggle-menu__line:nth-child(2) {
    right: 100%;
    opacity: 0; }
  .toggle-menu__active .toggle-menu__line:last-child {
    bottom: 50%;
    -moz-transform: translateY(50%) rotate(45deg);
    -o-transform: translateY(50%) rotate(45deg);
    -ms-transform: translateY(50%) rotate(45deg);
    -webkit-transform: translateY(50%) rotate(45deg);
    transform: translateY(50%) rotate(45deg); }

@media screen and (min-width: 768px) {
  .toggle-wrapper {
    display: none; } }

.nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #313131;
  padding: 0 0 10px;
  z-index: 5; }
  .nav__link {
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0; }
    @media screen and (min-width: 768px) {
      .nav__link {
        display: inline-block;
        padding: 10px 0; }
        .nav__link:not(:first-child) {
          margin-left: 15px; } }
    .nav__link:after, .nav__link:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -moz-transition: width 0.3s;
      -o-transition: width 0.3s;
      -webkit-transition: width 0.3s;
      transition: width 0.3s;
      height: 1px;
      width: 0;
      background: #fff; }
    .nav__link:after {
      bottom: 0; }
      @media screen and (min-width: 768px) {
        .nav__link:after {
          background: #A2508A;
          height: 3px; } }
    .nav__link:before {
      top: 0; }
    .nav__link:hover:after, .nav__link:hover:before {
      width: 100%; }
    @media screen and (min-width: 768px) {
      .nav__link:hover:before {
        content: none; } }
  @media screen and (min-width: 768px) {
    .nav {
      display: block;
      position: relative;
      top: auto;
      width: auto;
      padding: 0; } }

.logo {
  font-family: 'Pacifico', 'Arial', cursive;
  line-height: 48px;
  text-align: center;
  color: #fff; }
  @media screen and (min-width: 768px) {
    .logo {
      position: absolute;
      left: 0;
      top: -43px;
      background: #A2508A;
      z-index: 6;
      padding: 50px 30px; } }
  @media screen and (min-width: 1024px) {
    .logo {
      padding: 70px 30px; } }

.slider {
  overflow: hidden; }
  .slider__wrapper {
    height: 350px;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s; }
    @media screen and (min-width: 768px) {
      .slider__wrapper {
        height: 450px; } }
    @media screen and (min-width: 1024px) {
      .slider__wrapper {
        height: 520px; } }
    @media screen and (min-width: 1280px) {
      .slider__wrapper {
        height: 620px; } }

.item-slider {
  height: 100%;
  width: 100%;
  float: left; }
  .item-slider:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2; }
  .item-slider__image {
    position: absolute;
    display: block;
    max-width: none;
    top: 50%;
    left: 0;
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  .item-slider__title {
    padding: 25px 35px;
    top: 50%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3; }
    @media screen and (min-width: 640px) {
      .item-slider__title {
        font-size: 24px; } }
    @media screen and (min-width: 768px) {
      .item-slider__title {
        font-size: 30px; } }
    @media screen and (min-width: 1280px) {
      .item-slider__title {
        padding: 25px 60px; } }
    .item-slider__title:after, .item-slider__title:before {
      content: '';
      position: absolute;
      left: 50%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #A2508A;
      height: 2px;
      width: 130px; }
    .item-slider__title:after {
      bottom: 0; }
    .item-slider__title:before {
      top: 0; }

.arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 70px;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 4; }
  .arrow:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #fff; }
  .arrow__next {
    right: 0; }
    .arrow__next:after {
      right: 50%;
      border-right: 1px solid #fff;
      -moz-transform: translate(50%, -50%) rotate(-45deg);
      -o-transform: translate(50%, -50%) rotate(-45deg);
      -ms-transform: translate(50%, -50%) rotate(-45deg);
      -webkit-transform: translate(50%, -50%) rotate(-45deg);
      transform: translate(50%, -50%) rotate(-45deg); }
  .arrow__prev {
    left: 0; }
    .arrow__prev:after {
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
      left: 50%;
      border-left: 1px solid #fff; }
  @media screen and (min-width: 1280px) {
    .arrow {
      width: 60px; } }

section, footer {
  padding: 40px 0; }

section.slider {
  padding: 0; }

section.about, section.feedback {
  background: #E1E0DF; }

section.about {
  padding: 40px 0 190px; }
  section.about:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 150px;
    background: url("../img/tree-bg-150.png") repeat;
    background-position: center; }

.title-wrap {
  text-align: center; }

.title {
  display: inline-block;
  color: #A2508A;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Geometria Medium', 'Arial', cursive;
  font-size: 32px;
  margin-bottom: 30px;
  padding: 15px; }

.lines:after, .lines:before {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: width 0.3s, height 0.3s;
  -o-transition: width 0.3s, height 0.3s;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  z-index: 0; }

.lines:after {
  bottom: 0;
  right: 0;
  border-right: 2px solid #A2508A;
  border-bottom: 2px solid #A2508A; }

.lines:before {
  top: 0;
  left: 0;
  border-left: 2px solid #A2508A;
  border-top: 2px solid #A2508A; }

.lines:hover:after, .lines:hover:before {
  width: 100%;
  height: 100%; }

.lines-sides {
  padding: 15px 40px; }
  .lines-sides:after, .lines-sides:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    background: #A2508A; }
  .lines-sides:before {
    left: 0;
    width: 30px; }
  .lines-sides:after {
    right: 0;
    width: 30px; }

.subtitle {
  text-align: center;
  color: #333;
  font-size: 18px;
  margin-bottom: 25px; }

.desc {
  color: #333333; }

.advantages, footer {
  background: #313131; }

.advantage {
  width: 100%; }
  .advantage:not(:first-child) {
    margin-top: 40px; }
  .advantage__wrapper {
    width: 234px;
    height: 234px;
    margin: 0 auto 25px; }
    .advantage__wrapper-inner {
      border-radius: 50%;
      overflow: hidden;
      width: 214px;
      height: 214px;
      margin: 0 auto;
      top: 50%;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .advantage__wrapper:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -moz-transition: height 0.3s, width 0.3s;
      -o-transition: height 0.3s, width 0.3s;
      -webkit-transition: height 0.3s, width 0.3s;
      transition: height 0.3s, width 0.3s;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 2px solid #A2508A;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 2; }
    .advantage__wrapper:hover:after {
      width: 214px;
      height: 214px; }
    @media screen and (min-width: 768px) {
      .advantage__wrapper {
        width: 225px;
        height: 225px; } }
  .advantage__image {
    min-width: 100%; }
  .advantage__title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .advantage__desc {
    text-align: center;
    color: #fff; }
  @media screen and (min-width: 640px) {
    .advantage-container {
      margin: -40px -15px 0; } }
  @media screen and (min-width: 640px) {
    .advantage {
      padding: 0 15px;
      width: 50%;
      margin-top: 40px; } }
  @media screen and (min-width: 768px) {
    .advantage {
      width: 33.33333%; } }
  @media screen and (min-width: 1024px) {
    .advantage {
      width: 25%; } }

.btn-wrap {
  text-align: center; }

.btn {
  display: inline-block;
  margin: 35px auto 0;
  color: #A2508A;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: 2px solid #A2508A;
  border-radius: 10px;
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s; }
  .btn:hover {
    background: #A2508A;
    color: #fff; }

.feedback .btn-wrap {
  width: 100%; }
  @media screen and (min-width: 640px) {
    .feedback .btn-wrap {
      padding: 0 15px; } }
  @media screen and (min-width: 768px) {
    .feedback .btn-wrap {
      width: 25%; }
      .feedback .btn-wrap .btn {
        margin: 0 auto 0; } }

.feedback-wrap-inner:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #A2508A; }

.feedback__item {
  width: 100%; }
  .feedback__item:not(:nth-last-child(2)) {
    margin-bottom: 20px; }
    @media screen and (min-width: 640px) {
      .feedback__item:not(:nth-last-child(2)) {
        margin-bottom: 0; } }
  @media screen and (min-width: 640px) {
    .feedback__item {
      padding: 0 15px;
      width: 33.33333%; } }
  @media screen and (min-width: 768px) {
    .feedback__item {
      width: 25%; } }

.feedback__input {
  position: relative;
  display: block;
  color: #333;
  background: transparent;
  line-height: 50px;
  height: 50px;
  font-size: 18px;
  width: 100%;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1; }

@media screen and (min-width: 640px) {
  .feedback-wrap {
    margin: 0 -15px; } }

@media screen and (min-width: 768px) {
  .feedback-wrap {
    align-items: flex-end; } }

.footer-block {
  width: 100%;
  color: #fff; }
  .footer-block:not(:first-child) {
    margin-top: 25px;
    border-top: 1px solid #A2508A;
    padding-top: 25px; }
    @media screen and (min-width: 640px) {
      .footer-block:not(:first-child) {
        border-top: none;
        padding-top: 0;
        margin-top: 0; } }
  .footer-block__title {
    color: #A2508A;
    font-size: 22px;
    margin-bottom: 15px; }
  @media screen and (min-width: 640px) {
    .footer-block {
      width: 33.33333%;
      padding: 0 15px;
      text-align: center;
      margin-bottom: 25px; }
      .footer-block:nth-child(3n+2) {
        border-left: 1px solid #A2508A;
        border-right: 1px solid #A2508A; } }

@media screen and (min-width: 640px) {
  .footer-wrap {
    margin: 0 -15px; } }
